---
root: true

env:
  node: true

extends:
  - plugin:vue/base
  - plugin:@fellow/coffee/recommended
  - eslint:recommended

plugins:
  - "@fellow/eslint-plugin-coffee"
  - vue

rules:
  "@fellow/coffee/coffeescript-error": ["error", {}]

parser: "@fellow/eslint-plugin-coffee"

parserOptions:
  parser: babel-eslint
  sourceType: module
  ecmaVersion: 6
